* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    user-select: none;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: auto;
}

.container-left {
    flex: 1;
}

.container-right {
    flex: 1.5;
    background-color: #187c5b;
}

.container-left,
.container-right {
    padding: 1.2em 3em;
}

.container-left>p {
    font-size: 1.2em;
    cursor: pointer;
    border-left: 3px solid seagreen;
    padding-left: 10px;
}

.container-left p span {
    text-transform: uppercase;
    font-weight: bold;
    color: seagreen;
}

.container-left {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container-left .content {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 40%;
}

.container-left .content h1 {
    text-transform: uppercase;
    font-size: 2.8em;
    color: #187c5b;
    margin-bottom: .4em;
}

.container-left .content p {
    font-size: 0.9em;
    color: #187c5b;
    margin-bottom: 1.1em;
    font-weight: 600;
}

.container-left .content button {
    width: 150px;
    margin-top: 10px;
    padding: 1.2em 2.2em;
    background-color: #187c5b;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.3);
}

.container-left .content button:hover {
    border: 2px solid #187c5b;
    background-color: #fff;
    color: #187c5b;
    font-weight: bold;
    transition: 300ms ease-in-out;
}

.container-left .social {
    display: flex;
    width: 35%;
    justify-content: space-between;
    align-items: center;
}

.container-left .social p {
    color: #187c5b;
}

.container-left .social .fab {
    font-size: 1.3em;
    cursor: pointer;
}

.container-left .social .fab:nth-of-type(1) {
    color: #DD2A7B
}

.container-left .social .fab:nth-of-type(2) {
    color: #43609C;
}

.container-left .social .fab:nth-of-type(3) {
    color: #6CADDE;
}


/* Container right */

.container-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-right nav {
    display: flex;
    justify-content: space-between;
}

.container-right nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    list-style-type: none;
}

.container-right nav ul li a {
    text-decoration: none;
    color: white;
}

.container-right nav ul li a:hover {
    font-weight: bold;
}

.container-right .icon {
    text-align: right;
    font-size: 2.2em;
    color: white;
    transform: translateY(-50%);
}

.container-right .icon>i {
    opacity: 0.5;
    cursor: pointer;
}

.container-right .icon>i:hover {
    opacity: 1;
    transition: 300ms ease-in-out;
}

.container-right .icon .images {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    height: 40vh;
    grid-gap: 0.4em;
    margin-bottom: 0.3em;
}

.img-1,
.img-2 {
    border-radius: 20px;
    box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.3);
}

.img-1 {
    background: url(./Images/Day-9a.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.img-2 {
    background: url(./Images/Day-9b.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 920px) {
    .container-right {
        flex: 2;
    }
    .container-left .content {
        width: 100%;
    }
    .container-left .content button {
        width: 100%;
    }
    .container-right nav ul {
        width: 100%;
    }
    .container-right nav ul li a {
        font-size: .8em;
    }
    .container-left .content h1 {
        font-size: 2.5em;
    }
    .container-left .social {
        width: 55%;
    }
    .container-right nav ul {
        width: 100%;
    }
    .container-right .icon .images {
        grid-template-columns: auto;
    }
    .img-2 {
        display: none;
    }
    .img-2 {
        width: 70%;
    }
}