body {
    margin: 0;
    padding: 0;
    color: rgb(0, 47, 107);
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

nav,
header,
table,
section {
    width: 85%;
    margin: auto;
}

img {
    width: 33px;
}

.banner {
    background-color: #1652f0;
    height: 80vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.nav-left,
.nav-right {
    margin-top: 20px;
}

.nav-left {
    width: 70%;
    display: flex;
}

.nav-left h2 {
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.5em;
}

nav .nav-links {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    width: 55%;
}

nav .nav-links a {
    font-size: 14px;
    text-decoration: none;
    color: white;
}

nav .nav-links button {
    background-color: #05b169;
    padding: 5px;
    border: none;
    color: white;
    font-size: 13px;
    border-radius: 5px;
}

nav .nav-right a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

nav i {
    margin-left: 8px;
    font-weight: lighter;
}

nav .nav-right button {
    padding: 10px 12px;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    background-color: transparent;
}

nav .nav-right button:hover {
    background-color: white;
    color: #000;
}

nav a:hover {
    color: rgba(255, 255, 255, 0.8);
    transition: 0.3s ease-in-out;
}

header {
    text-align: center;
    margin-top: 70px;
    color: #ffffff;
}

header>*+* {
    margin-top: 25px;
}

header h1 {
    font-size: 48px;
}

header #email {
    width: 320px;
    padding: 20px;
    border-radius: 2px;
    border: none;
    font-size: 1.3em;
}

#email::placeholder {
    font-size: 0.9em;
    color: #757575;
}

header #button {
    padding: 23px;
    border: none;
    border-radius: 2px;
    background-color: #05b169;
    color: #fff;
    font-size: 16px;
    margin-left: 5px;
}

#button:hover {
    background-color: #049156;
}


/* Table Styles */

table {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #dadada;
    border-collapse: collapse;
    margin-top: -180px;
    font-size: 1.2em;
    margin-bottom: 20px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
}

thead th {
    font-weight: 300;
    padding: 20px;
    text-align: left;
    font-size: 0.8em;
}

table td {
    padding: 15px 10px;
    border: 1px solid #dadada;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
    margin-right: -20px;
    font-weight: 400;
}

table tr:hover {
    background-color: #f8f8f8;
}

table td img {
    display: inline;
    margin-right: 14px;
    position: relative;
    top: 10px;
}

table td button {
    padding: 13px 15px;
    border-radius: 3px;
    border: none;
    background-color: #05b169;
    color: #fff;
}

table td button:hover {
    background-color: #049156;
}

table thead:hover {
    background-color: #fff;
}

td span {
    color: #b3b3b3;
}

section {
    margin-top: 50px;
}

.crypto-ad {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left {
    width: 370px;
}

.left>*+* {
    margin-top: 25px;
}

.left h1 {
    font-size: 2.1em;
    font-weight: 400;
    color: #3a3a3a;
}

.left p {
    font-weight: 300;
}

.left button {
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #1652f0;
}

.right {
    display: flex;
    flex-direction: column;
    width: 570px;
}

.crypto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}

.crypto:hover {
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-out;
}

.crypto-left {
    display: flex;
    width: 400px;
    align-items: center;
    font-size: 1.4em;
}

.crypto-left *+* {
    margin-right: 20px;
}

.crypto-left img {
    width: 45px;
    display: inline-block;
    margin-right: 14px;
}

.crypto-left span {
    color: #b3b3b3;
}

.crypto small {
    font-size: 1.1em;
    color: #05b169;
}


/* Product dropdown Styles start*/

.pro-drop {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    width: 860px;
    position: absolute;
    top: 10vh;
    left: 0;
    display: none;
}

.pro-content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* PRO-LEFT STYLES START */

.pro-left>*+*,
.pro-right>*+* {
    margin-top: 23px;
}

.pro-left .opt {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.pro-left .opt div {
    margin-left: 20px;
}

.pro-left .adj {
    margin-bottom: -35px;
    padding: 0;
}

.pro-left>p,
.pro-right>p {
    text-transform: uppercase;
    margin-left: 15px;
    color: #999999;
    font-weight: 500;
}

.opt {
    margin-top: 0;
    margin-bottom: 0;
}

.opt div p {
    margin-bottom: 6px;
}

.opt div span {
    color: #999999;
}


/* PRO LEFT STYLES END */

.comp-drop {
    display: flex;
    flex-direction: column;
    width: 100px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 10vh;
    left: 55vh;
    display: none;
}

.comp-drop p {
    font-size: 0.9em;
    padding: 10px;
    border-top: 1px solid rgba(144, 161, 184, 0.3);
}

.comp-drop p a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

.comp-drop p a:hover {
    color: rgb(22, 82, 240);
}

.comp-drop .none {
    border: none;
}


/* PRO-RIGHT STYLES START */

.pro-right {
    margin-left: -200px;
}

.pro-right>p {
    margin-bottom: 15px;
}

.pro-right .second {
    margin-top: -10px;
}

.pro-right .opt {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: -30px;
    margin-bottom: 0;
}

.pro-right .opt div {
    margin-left: 20px;
}


/* PRO-RIGHT STYLES END */


/* DPRO-RIGHT STYLES END */


/* SVG STYLES */

.pro-left .opt svg,
.pro-right .opt svg {
    width: 50px;
}


/* SVG STYLES END */

.our-pro {
    padding: 15px;
    border-top: 1px solid #696969;
    text-align: center;
}

.our-pro p a {
    text-decoration: none;
    color: #3a3a3a;
}

.our-pro p a:hover {
    color: #999999;
    transition: all 0.3s ease-in-out;
}


/* Product dropdown styles end */

#cryptoPortfolio {
    padding-top: 10vh;
    text-align: center;
    height: 100vh;
    width: 100%;
}

#cryptoPortfolio-title {
    font-size: 3em;
    margin-bottom: 5vh;
}

#cryptoPortfolio-desc {
    color: rgb(144, 161, 184);
    font-size: 1.2em;
}

#cryptoPortfolio-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-top: 10vh;
}

#cryptoPortfolio-side1 {
    margin: 0;
    padding: 0;
    margin-top: 4vh;
    width: 40%;
}

.svg {
    height: 72px;
    width: 72px;
    border-radius: 50%;
    border: solid 1px white;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-right: 28px;
    margin-top: -12px;
    box-shadow: rgba(218, 225, 233, 0.557) 0px 8px 16px;
}

.cryptoPortfolio-items {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
    margin-bottom: 4vh;
}

.cryptoPortfolio-text label {
    font-size: 1.2em;
    font-weight: 500;
}

.cryptoPortfolio-text p {
    color: rgb(144, 161, 184);
}

.cryptoPortfolio-text a {
    color: rgb(22, 82, 240);
    text-decoration: none;
}

#cryptoPortfolio-side2 img {
    width: 90%;
    height: 75vh;
    align-self: flex-end;
}

#mostTrusted {
    padding-top: 10vh;
    text-align: center;
    height: 80vh;
    width: 100%;
}

#mostTrusted-title {
    font-size: 3em;
    margin-bottom: 5vh;
}

#mostTrusted-desc {
    font-size: 1.2em;
    color: rgb(144, 161, 184);
    margin-bottom: 10vh;
}

#mostTrusted-display {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5vw;
}

.mostTrusted-details {
    text-align: center;
}

#mostTrusted svg {
    display: block;
    margin: auto;
    margin-bottom: 10vh;
}

.mostTrusted-details-desc {
    font-size: 1.4em;
    font-weight: 500;
}

.mostTrusted-info {
    color: rgb(144, 161, 184);
    margin-bottom: 5vh;
}

.mostTrusted-links {
    color: rgb(22, 82, 240);
    text-decoration: none;
}

#blueStats {
    background-color: rgb(22, 82, 240);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    padding: 0 5vh;
    width: 100%;
}

.blueStats-info {
    text-align: center;
    margin: 8vh 0;
}

.blueStats-num {
    font-size: 3.5em;
    font-weight: 500;
}

.blueStats-desc {
    opacity: .7;
}

#getStarted {
    padding-top: 10vh;
    text-align: center;
    height: 60vh;
    width: 100%;
}

#getStarted-title {
    font-size: 3em;
    margin-bottom: 5vh;
}

.divider {
    width: 10%;
}

#getStarted-desc {
    color: rgb(144, 161, 184);
}

#getStarted-instructions {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
    width: 80%;
    margin: auto;
    margin-top: 10vh;
}

#getStarted-instructions hr {
    margin-top: 20%;
}

.getStarted-i-desc {
    font-weight: 500;
    font-size: 1.2em;
}

#promo115 {
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10vw;
    background-color: rgb(233, 246, 255);
    width: 100%;
}

#bg {
    height: 60vh;
    width: 100%;
}

#promo-title {
    font-size: 2em;
    font-weight: 500;
}

#promo-btn {
    background-color: rgb(22, 82, 240);
    color: white;
    border: none;
    height: 50px;
    padding: 0 2vw;
    font-size: 1em;
    border-radius: 5px;
}

#promo-btn:hover {
    background-color: rgb(10, 70, 228);
}

#promo-desc {
    align-self: flex-start;
    width: 60%;
    margin-top: 10vh;
}

#promo-info {
    font-size: 0.9em;
    margin-top: 10px;
    margin-bottom: 10px;
}

#foot {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 80vh;
    margin-top: 10vh;
}

#foot a {
    text-decoration: none;
    color: inherit;
}

#foot li:hover {
    text-decoration: underline;
    color: rgb(22, 82, 240);
}

#foot ul {
    list-style: none;
    padding: 0;
}

#foot li {
    padding: 1vh 0;
}

#branding {
    margin-left: 2vw;
}

#foot-brand {
    color: rgb(22, 82, 240);
    font-size: 1.25em;
    font-weight: 500;
}

#foot p {
    margin-top: 5vh;
}

#foot li,
#foot p {
    color: rgb(144, 161, 185);
}

.foot-titles {
    font-weight: 500;
}